.loginStyle {
  margin-top: 8;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
}

.avatar {
  margin: 10px;
  background-color: #a91a1a;
}

.form {
  width: '100%';
  margin-top: 1;
}

.submit {
  margin: 3 0 2;
}

.company_logo{
  background-image: "../../logo.gif";
}